<div>
  <h2 id="page-heading" data-cy="VRequestFieldHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.vRequestField.home.title">V Request Fields</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.vRequestField.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-v-request-field"
        [routerLink]="['/v-request-field/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.vRequestField.home.createLabel"> Create a new V Request Field </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vRequestFields?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.vRequestField.home.notFound">No V Request Fields found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="vRequestFields && vRequestFields.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endpointId">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.vRequestField.endpointId">Endpoint Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.vRequestField.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.vRequestField.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vEndpoint.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.vRequestField.vEndpoint">V Endpoint</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vRequestField of vRequestFields; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/v-request-field', vRequestField.id, 'view']">{{ vRequestField.id }}</a>
          </td>
          <td>{{ vRequestField.endpointId }}</td>
          <td>{{ vRequestField.code }}</td>
          <td>{{ vRequestField.name }}</td>
          <td>
            <div *ngIf="vRequestField.vEndpoint">
              <a [routerLink]="['/v-endpoint', vRequestField.vEndpoint.id, 'view']">{{ vRequestField.vEndpoint.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/v-request-field', vRequestField.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/v-request-field', vRequestField.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vRequestField)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vRequestFields && vRequestFields.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
