<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-v-response-field-heading"
        data-cy="VResponseFieldCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.vResponseField.home.createOrEditLabel"
      >
        Create or edit a V Response Field
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.vResponseField.endpointId" for="field_endpointId"
            >Endpoint Id</label
          >
          <input
            type="number"
            class="form-control"
            name="endpointId"
            id="field_endpointId"
            data-cy="endpointId"
            formControlName="endpointId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.vResponseField.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.vResponseField.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.vResponseField.vEndpoint" for="field_vEndpoint"
            >V Endpoint</label
          >
          <select
            class="form-control"
            id="field_vEndpoint"
            data-cy="vEndpoint"
            name="vEndpoint"
            formControlName="vEndpoint"
            [compareWith]="compareVEndpoint"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="vEndpointOption" *ngFor="let vEndpointOption of vEndpointsSharedCollection">{{ vEndpointOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
